In [1]:
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all

SELECT CustomerID AS ID, CustomerName AS Cliente 
FROM Customers AS Cliente 
WHERE Country="Italy" OR Country="France"
ORDER BY Country DESC;

Seleziona tutti i CustomerID rinominati come ID e CustomerName come Cliente
Dalla tabella Customers rinominato come Cliente
Dove il paese è Italy OPPURE è France
Ordinati per Country in Decrescente

SELECT DISTINCT City AS Città
FROM Customers 

Seleziona in modo distinto (senza ripetizioni) tutte le City rinominate in Città

WHERE CustomerID>47 AND CustomerID<60
Semplificato in
WHERE CustomerID BETWEEN 47 AND 60

Dove CustomerID è compreso tra 47 e 60

WHERE Customer NOT BETWEEN 'Com' AND 'East'
Dove CustomerName NON è COMPRESO tra le stringhe 'Com' E 'East' 
Funziona con le date

SELECT * FROM Orders
WHERE OrderDate  BETWEEN '1996-07-01' AND '1996-07-31'
Oppure -> si usa # e / (non va)
WHERE OrderDate BETWEEN #07/01/1996# AND #07/31/1996#;

WHERE CustomerName LIKE '%a'

Dove CustomerName termina per 'a' -> carattere jolly

WHERE CustomerName LIKE 'a____%'

Dove CustomerName inizia per 'a' ed è seguito da almeno 4 caratteri (underscore

WHERE CustomerName LIKE '[bsp]%'
Dove CustomerName inizia per b o s o p

WHERE CustomerName LIKE '[!bsp]%'
Dove CustomerName NON inizia per b o s o p

WHERE CustomerName LIKE '[a-c]%'
Dove CustomerName inizia da a ad c

WHERE Country='Italy' AND City <> 'Bergamo';
Dove Country è Italy E la City DIVERSA da 'Bergamo"

WHERE CustomerID IN (5,9,24,56,78)
Selezione CustomerID uguale a 5 9 24 56 78

WHERE PostalCode IS NULL
I PostalCode ha valori nulli -> campo opzionale

SyntaxError: unterminated string literal (detected at line 51) (4021546848.py, line 51)